@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
:root{
    --fundo:linear-gradient(0deg,
    #00b6f6 30%,
    #0063c7 100%);
 
    
  }

.myBackground {
    /* background-image: url(); */
        background: rgb(255, 255, 255);
    background: var(--fundo);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#panel{
    color:  white;
}

.botao{
    color: white;
    background-color: #0063c7;
    border: none;
    border-radius: 4px;
}

.button{
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #fff;
    background: none;
    border: none;
    padding: 14px 22px;
    position: relative;
}

.button::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(calc(100% + 40px));
    width: 41px;
    height: 40px;
    background: #0063c7;
    border-radius: 60%;
    transition: tranform .25s .25s cubic-bezier(0,0,.5,2), 
    width .25s cubic-bezier(0,0,.5,2);
    z-index: -1;
}
.button:hover::before{
    width: 100%;
    transform: translateY(-50%) translateX(-18px);
    transition:transform .25s cubic-bezier(0,0,.5,2),
    width .25s .25s cubic-bezier(0,0,.5,2);
}
.button i {
    margin-left: 14px;
    transition: transform .25s .4s cubic-bezier(0,0,.5,2);
}

.button:hover i {
    transform: translateX(2px);
}
.button a{
    text-decoration: none;
    color: #fff;
}
.button:hover a{
    text-decoration: none;
    color: #fff;
}